.Form {
  margin: auto;
  padding: 15px;
  margin-top: 40px;
  width: 30%;
  height: 780px;
  border: 4px solid black;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 100px;
}
.Form label {
  margin-bottom: 8px;
}
.Form input {
  margin-bottom: 12px;
  border: 2px solid black;
}
.Form textarea {
  border: 2px solid black;
  height: 100px;
  resize: none;
}
.Form #save {
  width: 100%;
  margin-top: 15px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-style: italic;
}
