header {
  width: 100%;
  height: 70px;
  background-color: rgb(22, 22, 22);
  box-shadow: 0px 0px 15px red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  position: sticky;
  top: 0px;
}
header #left {
  display: flex;
  align-items: center;
  margin-left: 70px;
}
header #left h1 {
  margin: 0px;
  height: 50px;
}
header #left h1 img {
  margin: 0px;
}
header #left nav {
  margin-left: 40px;
}
header #left nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin-right: 30px;
  transition: all 1.5s;
}
header #left nav a:hover {
  transition: all 1.5s;
  color: yellow;
}
header #right {
  display: flex;
  align-items: center;
  margin-right: 70px;
}
header #right #nav2 {
  display: none;
}
header #right input {
  width: 220px;
  height: 30.5px;
  padding: 0px 15px;
  margin: 0px 15px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 0px;
  background-color: rgb(38, 38, 38);
  color: wheat;
  font-weight: bold;
}
header #right button {
  height: 30px;
  width: 35px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 15px;
  background-color: rgb(38, 38, 38);
}
header #right i {
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 1.5s;
}
header #right i:hover {
  transition: all 1.5s;
  color: yellow;
}
header #right span {
  display: none;
  font-size: 18px;
  color: white;
  transition: all 1.5s;
}
header #right span:hover {
  transition: all 1.5s;
  color: yellow;
}
header input[type=checkbox] {
  display: none;
}
header .fa-solid.fa-bars {
  font-size: 22px;
  margin-right: 70px;
  color: white;
  display: none;
}

@media screen and (max-width: 1100px) {
  #right {
    background-color: rgb(22, 22, 22);
    transition-duration: 2s;
    margin: 0px !important;
    border: 3px solid red;
    box-shadow: 0px 0px 10px red;
    position: absolute;
    width: 350px;
    height: 100px;
    top: -300px;
    right: 0px;
    z-index: 0;
  }
  #right input {
    width: 277px !important;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  #right button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  #right button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #right #Facebook {
    position: absolute;
    top: 59px;
    left: 35px;
  }
  #right #F-Text {
    display: block;
    position: absolute;
    top: 53px;
    left: 55px;
  }
  #right #Log-In {
    position: absolute;
    top: 59px;
    right: 35px;
  }
  #right #L-Text {
    display: block;
    position: absolute;
    top: 53px;
    right: 55px;
  }
  .fa-solid.fa-bars {
    display: block !important;
  }
  input[type=checkbox]:checked ~ #right {
    top: 70px;
    transition-duration: 2s;
  }
}
@media screen and (max-width: 1024px) {
  #left {
    margin-left: 40px !important;
  }
  .fa-solid.fa-bars {
    margin-right: 40px !important;
  }
}
@media screen and (max-width: 700px) {
  nav {
    display: none;
  }
  #right {
    margin: 0px !important;
    height: 240px;
    right: 0px;
    display: flex;
    justify-content: center;
  }
  #right #nav2 {
    display: block !important;
    width: 150px;
    text-align: center;
    margin-top: 55px;
  }
  #right #nav2 a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: all 1.5s;
    margin-bottom: 5px;
  }
  #right #nav2 a:hover {
    transition: all 1.5s;
    color: yellow;
  }
}
@media screen and (max-width: 430px) {
  #right {
    width: 100%;
  }
  #right input {
    width: 315px !important;
  }
}
footer {
  width: 100%;
  height: 70px;
  background-color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0px;
}
footer p {
  margin: 0px;
  margin-left: 70px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 500px) {
  footer p {
    margin-left: 30px;
  }
}
body {
  margin: 0px;
  /* min-height: 140vh; */
  position: relative;
}
