main {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .box {
        width: 70%;
        height: 40px;
        border: 4px solid black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        background-color: rgb(0, 255, 115);

        p { 
            font-size: 22px;
            font-style: italic;
            font-weight: bold;
            margin-left: 40px;
            margin-bottom: 0px;
        }
        div {
            margin-right: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: none;
                width: 150px;
                height: 25px;
                background-color: red;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-style: italic;
                font-weight: bold;
                color: white;
                border: 3px solid black;
                border-radius: 5px;
                margin-left: 10px;
            }
            .edit {
                background-color: blue;
            }
        }
    }
}