{% extends "base.html" %}

{% block title %}Movies{% endblock %}
{% block cssLink %} <link rel="stylesheet" href="/static/general.css"> {% endblock %}

{% block content %}
    <main>
        {% for animation in animations %}
            <div class="box">
                <p>{{ animation.name }} - {{ animation.date }}</p>
                <div>
                    <a href="/edit/animation/{{ animation.id }}" class="edit">რედაქტირება</a>
                    <a href="/delete/animation/{{ animation.id }}">წაშლა</a>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}