<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<header>
    <div id="left">
        <a href="/">
            <h1>
                <img src="https://mykadri.tv/templates/mykadri_V2/images/logov2.png" alt="Logo">
            </h1>
        </a>

        <nav>
            <a href="/Movies">ფილმები</a>
            <a href="/Animations">ანიმაციები</a>
            <a href="/Serials">სერიალები</a>

            <a href="/add/movie">+ ფილმი</a>
            <a href="/add/animation">+ ანიმაცია</a>
            <a href="/add/serial">+ სერიალი</a>
        </nav>
    </div>

    <label for="Menu">
        <i class="fa-solid fa-bars"></i>
    </label>
    <input type="checkbox" id="Menu">

    <div id="right">
       <a href="https://www.facebook.com/Moviesqartulad" target="_blank"><i class="fa-brands fa-square-facebook" id="Facebook"></i><span id="F-Text">Facebook</span></a>
        <form>
            <input type="text" placeholder="საძიებო სიტყვა..." required>
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <a routerLink="/logIn"><i class="fa-regular fa-user" id="Log-In"></i><span id="L-Text">Log-In</span></a>

        <nav id="nav2">
            <!-- <a href="/">მთავარი</a>
            <a href="">სერიალები</a>
            <a href="">ანიმაციები</a> -->
        </nav>
    </div>
</header>